<div class="p-5 mb-4 bg-light blue">
  <div>
    <h2>Welcome to the personal finance tracker</h2>
    <p>Here will be some sentences about the app</p>
    <h4>To register click here</h4>
  </div>
</div>
<div class="row lowpart">
  <h2>How to use the app</h2>
  <p>Here will be some sentences about the app</p>
  <p>Here will be some sentences about the app</p>
  <p>Here will be some sentences about the app</p>
  
<%# <div class="col-md-6">
</div> %>
</div>
