<div class="container col-6">
  <h2>Edit Category</h2>  
  <%= render "form" %>
  <%= link_to "Cancel and return to categories listing", categories_path, class: "d-flex justify-content-center mt-3 text-info" %>
</div>