<div id="page-content" class="container col-6">
  <h2>Edit Operation</h2>  
  <%= render "form" %>
  <%= link_to "Cancel and return to operations listing", operations_path, class: "d-flex justify-content-center mt-3 text-info" %>
</div>